<div class="tabs is-fullwidth is-medium is-boxed">
  <ul>
    <li class="is-active"><a>About BISO <%= Time.now.year + 1 %></a></li>
    <li><a>The Rules</a></li>
    <li><a>How to Participate</a></li>
    <li><a>Our Sponsors</a></li>
  </ul>
</div>
