<nav class="tabs is-centered is-medium">
  <div class="container">
    <ul>
      <li class="is-active"><%= link_to "About BISO #{Time.now.year + 1}", root_path %></li>
      <li><%= link_to "The Rules", pages_the_rules_path %></li>
      <li><%= link_to "How to Participate", pages_how_to_participate_path %></li>
      <li><%= link_to "Our Sponsors", pages_sponsors_path %></li>
    </ul>
  </div>
</nav>
